@import "./pages/Home";
@import "./pages/User";
@import "./components/Header";
@import "./components/Footer";


* {
    text-decoration: none;
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

.main-container {
    background-color: rgb(202, 202, 202);
    min-height: 100vh;
}

.container {
    background-color: white;
    min-height: 100vh;
}